---
---

@charset "utf-8";
// Your custom css /scss here

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

strong {
  font-weight: 600;
}

// pattern full width
.full-width-wrapper {
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            margin-bottom: 5vw;
        }

.full-width-image {
  min-width: 100%;
  object-fit: cover;
  margin-top: -0.8rem;
  z-index: 0;
}

.green {
  color: #4f9f56;
}


.rotated {
transform: rotate(180deg);
        }

// hero image (header)
.hero-chulapa-image {
    background-position: top;
  z-index: 100;
}

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

// iframe :
iframe {
  border: 0;
}

.navbar-brand {
  text-decoration: none;
}
.navbar {
  //border-bottom: 1px solid white;
  z-index: 1000;
}

.nav-item:last-child {
  border: 1px solid var(--secondary);
  padding-inline-start: 0.4em;
  padding-inline-end: 0.4em;
}

@media (max-width: 767px) {
  #projects-container {
    h5 {
      margin-top: 2rem;
    }
    img {
      max-width: 100%
    }
  }

}

:target {
  scroll-margin-top: 80px; /* height of the navbar */
}


 // Custom classes

figure {
  padding: 25px;
}

.figcaption_class {
  text-align: center;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.2rem;
    text-align: justify;
}

.superH1 {
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  //padding-bottom: 5px;
}

.superSubTitle {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //padding-top: 10px;
  padding-bottom: 30px;
}


.container_abstract {
  display: block;
  border: 2px, solid, #d4028e;
  border-radius: 10px;
  padding: 30px;
  padding-bottom: 40px;
}


.toc_container {
  display: block;
  float: left;
  font-size: 0.9rem;
  text-align: left;
  padding: 25px;
  position: sticky;
  top: 20px;
  left: 20px;
  width: 250px;
  height: 400px;
  //border: 2px, solid, #d4028e;
  //border-radius: 10px;
  background-color: rgba(0,0,0,0.20);
}


.toc {
    padding: 10px;
    padding-top: 25px;
}


.toc ol, .toc ul {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 15px;
}

.in_text_list {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.6rem;
  text-align: left;
  padding-top: 35px;
  padding-bottom: 20px;
  padding-left: 20px;
}

h2 {
  font-size: 1.4rem;
  padding: 25px;
}

h3 {
  font-size: 1rem;
  padding: 15px;
}

a {
  text-decoration: none;
}


.start_reading {
  font-size: 2rem;
  text-align: center;
  padding: 35px;
  display: block;
  border: 2px, solid, #d4028e;
  border-radius: 10px;
}

.start_reading:hover {
  background-image: radial-gradient(white, #d4028e);
}

.start_reading a:hover {
  color: purple;
}


.expert_quote {
  display: block;
  float: center;
  text-align: center;
  font-size: 1.3rem;
  font-style: italic;
  padding: 30px;
  //border: 1px, solid, gray;
  //border-radius: 10px;
}


.general_chartClass {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;     /* Vertical centering */
}


.custom_table {
  display: block;
  justify-content: center; /* Horizontal centering */
  align-items: center;     /* Vertical centering */
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
  width: 800px;
}

.custom_p {
  font-size: 1.2rem;
  font-style: oblique;
  font-weight: bolder;
  color: #00ff00;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.filter-green{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

#vg-tooltip-element {
  background-color: #1D2225;
  border: 1px solid #d9d9d9;
  color: rgb(247, 247, 247);
}

.nav-link:hover {
  margin-left:-4px;
  margin-right:-4px;
}
 
.nav-link {
  margin-left:-4px;
  margin-right:-4px;
}


.figure_title{
  text-align: left;
  font-size: 1.2rem;
  font-weight: bolder;
  color: #FF6600FF;
}

.pacman_separator {
  overflow-x: clip;
  padding: 40px;
}

